<p class="links">
  <% for(let item of theme.link){ %>
    <a title="<%- item.name %>" target="<%- item.target -%>" href="<%- item.path %>">
      <span class="iconify" data-icon="<%- item.icon %>"></span>
    </a>
  <% } %>
</p>
